<!DOCTYPE html>
<html lang="es-MX">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <h1>Demo - Site</h1>
  <p>
    <i class="fa fa-smile-o" aria-hidden="true"></i>
    Bienvenido a nuestra app demo
    <i class="fa fa-smile-o" aria-hidden="true"></i>
  </p>
  <a href="index.html">
    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    Ir a al inicio
    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
  </a>
  <div id="app"></div>
  <p>
    <%= htmlWebpackPlugin.options.msg %>
  </p>
  <p>
    <%= htmlWebpackPlugin.options.msg %>
  </p>
  <div class="container-img">
    <img src='<%= require("./img/semantics.jpg") %>' title="HTML5 Semantics" alt="Logo HTML5 semantics" />
    <img src='<%= require("./img/offline&storage.jpg") %>' title="Offline & storage" alt="Logo HTML5 offline & storage" />
    <img src='<%= require("./img/device-access.jpg") %>' title="Device access" alt="Logo HTML5 device access" />
    <img src='<%= require("./img/connectivity.jpg") %>' title="Connectivity" alt="Logo HTML5 connectivity" />
    <img src='<%= require("./img/multimedia.jpg") %>' title="Multimedia" alt="Logo HTML5 multimedia" />
    <img src='<%= require("./img/3d.jpg") %>' title="3D, Graphics, effects" alt="Logo HTML5 3D, Graphics, effects" />
    <img src='<%= require("./img/performance&integration.jpg") %>' title="Performance & integration" alt="Logo HTML5 performance & integration"
    />
    <img src='<%= require("./img/styling.jpg") %>' title="CSS3 Styling" alt="Logo HTML5 CSS3 styling" />
  </div>
</body>

</html>
